In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Question 1
When appending new rows to a dataframe, what do the parameters 'ignore_index' and 'sort' do?

ignore_index=True ‘ignores’. It outputs data together in the order that they are passed, then reassigns a range for the actual index.
The sort () method sorts the list ascending by default.

# Question 2
The columns of this datafram are shown below. They are cenus_year, state_fips_code, total_family_income, age, sex, race_general, marital_status, and total_personal_income.

# Question 3

In [2]:
census = pd.read_csv('census.csv',
                  na_values = ':',
                  usecols = [ 'census_year', 'state_fips_code','total_family_income', 'age', 'sex',
                             'race_general','marital_status','total_personal_income'])
census

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
...,...,...,...,...,...,...,...,...
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

In [8]:
census[19:46]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
30,2000,Florida,60000.0,55,Male,White,Married/spouse present,53000.0
31,2000,Florida,118100.0,18,Female,White,Never married/single,7500.0
32,2000,Florida,21000.0,66,Female,White,Married/spouse present,6000.0
33,2000,Florida,40000.0,58,Female,White,Married/spouse present,0.0
34,2000,Florida,17300.0,21,Male,Black,Never married/single,4800.0
35,2000,Florida,61300.0,52,Male,White,Married/spouse present,35000.0
36,2000,Florida,0.0,18,Male,White,Never married/single,2000.0
37,2000,Florida,6000.0,2,Male,White,Never married/single,NaN
38,2000,Florida,30270.0,26,Male,Other,Married/spouse present,24250.0
39,2000,New York,8800.0,82,Female,White,Widowed,8800.0
40,2000,New York,0.0,46,Female,White,Divorced,17000.0
41,2000,New York,165000.0,63,Male,White,Married/spouse present,123000.0
42,2000,New York,15570.0,83,Male,White,Widowed,15570.0
43,2000,New York,48630.0,35,Female,White,Married/spouse present,15830.0
44,2000,New York,13000.0,1,Male,White,Never married/single,NaN
45,2000,New York,68020.0,2,Female,Chinese,Never married/single,NaN

In [7]:
census[23:27][['age', 'sex', 'race_general']]

    age     sex race_general
23   47    Male        White
24   12    Male        White
25   47    Male        White
26    8  Female        White

In [11]:
census[45:46]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
45,2000,New York,68020.0,2,Female,Chinese,Never married/single,NaN

In [14]:
census[['census_year', 'state_fips_code']]

     census_year state_fips_code
0           2000         Florida
1           2000         Florida
2           2000         Florida
3           2000         Florida
4           2000         Florida
5           2000         Florida
6           2000         Florida
7           2000         Florida
8           2000         Florida
9           2000         Florida
10          2000         Florida
11          2000         Florida
12          2000         Florida
13          2000         Florida
14          2000         Florida
15          2000         Florida
16          2000         Florida
17          2000         Florida
18          2000         Florida
19          2000         Florida
20          2000         Florida
21          2000         Florida
22          2000         Florida
23          2000         Florida
24          2000         Florida
25          2000         Florida
26          2000         Florida
27          2000         Florida
28          2000         Florida
29          2000         Florida
..           ...             ...
470         2000    Pennsylvania
471         2000    Pennsylvania
472         2000    Pennsylvania
473         2000    Pennsylvania
474         2000    Pennsylvania
475         2000    Pennsylvania
476         2000    Pennsylvania
477         2000    Pennsylvania
478         2000    Pennsylvania
479         2000    Pennsylvania
480         2000    Pennsylvania
481         2000    Pennsylvania
482         2000    Pennsylvania
483         2000    Pennsylvania
484         2000    Pennsylvania
485         2000    Pennsylvania
486         2000    Pennsylvania
487         2000    Pennsylvania
488         2000    Pennsylvania
489         2000    Pennsylvania
490         2000    Pennsylvania
491         2000    Pennsylvania
492         2000    Pennsylvania
493         2000        Virginia
494         2000        Virginia
495         2000        Virginia
496         2000        Virginia
497         2000        Virginia
498         2000        Virginia
499         2000        Virginia

[500 rows x 2 columns]

# Question 4

In [53]:
age2 = census['age']
age2

0      44
1      20
2      20
3       6
4      55
5      43
6      60
7      47
8      54
9      58
10     33
11     51
12     62
13      8
14     25
15     44
16     28
17      1
18     31
19     69
20     31
21     80
22      2
23     47
24     12
25     47
26      8
27     67
28     17
29     69
       ..
470     1
471    29
472    61
473    36
474    25
475    41
476     9
477    10
478    13
479     3
480    15
481    32
482    68
483    32
484    32
485    24
486    18
487    41
488     6
489    38
490    43
491    76
492    24
493    36
494     5
495    68
496    12
497    60
498    60
499    47
Name: age, Length: 500, dtype: int64

# Question 5

*COMMENT: We wanted to add two new rows to the census dataframe with the year column removed 2/4pts*

In [46]:
new_rows_dict = {
    'favorite_color' : ['Pink','Yellow' , 'Green'],
    'favorite_food' : ['Salad', 'Pizza', 'Tacos'],
    'sex' : ['Female', 'Male', 'Female'] 
}
new_rows_df = pd.DataFrame(new_rows_dict)

new_rows_df

  favorite_color favorite_food     sex
0           Pink         Salad  Female
1         Yellow         Pizza    Male
2          Green         Tacos  Female

# Question 6

In [40]:
census[census['state_fips_code'] == 'Connecticut']

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
274,2000,Connecticut,NaN,56,Female,Black,Never married/single,3600.0
275,2000,Connecticut,0.0,52,Male,White,Divorced,51000.0
276,2000,Connecticut,80100.0,16,Male,White,Never married/single,0.0
277,2000,Connecticut,129300.0,32,Female,White,Married/spouse present,34300.0

In [41]:
census[(census['total_family_income'] < 75000)]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
30,2000,Florida,60000.0,55,Male,White,Married/spouse present,53000.0
32,2000,Florida,21000.0,66,Female,White,Married/spouse present,6000.0
33,2000,Florida,40000.0,58,Female,White,Married/spouse present,0.0
34,2000,Florida,17300.0,21,Male,Black,Never married/single,4800.0
35,2000,Florida,61300.0,52,Male,White,Married/spouse present,35000.0
...,...,...,...,...,...,...,...,...
461,2000,Missouri,9400.0,81,Female,White,Widowed,9400.0
462,2000,Missouri,74000.0,12,Male,White,Never married/single,NaN
463,2000,Missouri,25280.0,81,Male,White,Married/spouse present,16300.0
464,2000,Missouri,55500.0,17,Female,White,Never married/single,0.0
465,2000,Missouri,22200.0,30,Male,White,Married/spouse present,15700.0
468,2000,Pennsylvania,74490.0,42,Male,White,Married/spouse present,68020.0
469,2000,Pennsylvania,20000.0,3,Male,White,Never married/single,NaN
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

In [32]:
census[(census['age'] >= 30) & (census['age'] <= 50)]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
40,2000,New York,0.0,46,Female,White,Divorced,17000.0
43,2000,New York,48630.0,35,Female,White,Married/spouse present,15830.0
47,2000,New York,0.0,36,Male,White,Never married/single,17500.0
55,2000,New York,37100.0,33,Male,White,Never married/single,37100.0
57,2000,New York,25000.0,40,Female,Two major races,Divorced,25000.0
58,2000,New York,168200.0,34,Male,White,Married/spouse present,121600.0
60,2000,New York,55300.0,49,Male,White,Married/spouse present,55300.0
62,2000,New York,NaN,37,Male,Black,Never married/single,0.0
64,2000,New York,43000.0,40,Female,Black,Married/spouse present,0.0
70,2000,New York,34900.0,36,Female,Black,Married/spouse present,19900.0
72,2000,New York,106000.0,32,Female,White,Married/spouse present,22000.0
75,2000,New York,38000.0,47,Male,White,Married/spouse present,38000.0
78,2000,New York,40400.0,46,Female,Black,Married/spouse present,14200.0
82,2000,Rhode Island,44004.0,30,Female,White,Never married/single,44004.0
83,2000,Rhode Island,43000.0,39,Male,White,Never married/single,43000.0
86,2000,Alabama,63820.0,40,Male,White,Married/spouse present,47950.0
88,2000,Alabama,34500.0,43,Female,Other,Married/spouse present,15300.0
90,2000,California,52000.0,40,Female,White,Married/spouse present,27000.0
93,2000,California,37500.0,46,Female,White,Married/spouse present,17500.0
98,2000,California,77000.0,48,Female,Two major races,Married/spouse present,0.0
105,2000,California,113710.0,30,Female,White,Married/spouse present,38400.0
...,...,...,...,...,...,...,...,...
409,2000,Wisconsin,72520.0,31,Male,White,Married/spouse present,39510.0
414,2000,Wisconsin,33780.0,30,Male,White,Never married/single,33780.0
416,2000,Wisconsin,53000.0,40,Male,White,Divorced,49100.0
420,2000,Hawaii,108484.0,49,Female,Other Asian or Pacific Islander,Married/spouse present,22000.0
425,2000,Indiana,NaN,35,Male,Black,Never married/single,0.0
427,2000,Indiana,36000.0,33,Male,White,Divorced,36000.0
431,2000,Indiana,78700.0,37,Male,Other Asian or Pacific Islander,Married/spouse present,39920.0
436,2000,Indiana,64500.0,40,Female,White,Divorced,9000.0
440,2000,Louisiana,43000.0,37,Female,White,Married/spouse present,24000.0
442,2000,Louisiana,30900.0,49,Male,White,Married/spouse present,29800.0
443,2000,Louisiana,NaN,44,Male,Black,Married/spouse absent,0.0
444,2000,Louisiana,54090.0,31,Male,White,Married/spouse present,6000.0
452,2000,Mississippi,1400.0,32,Female,Black,Never married/single,1400.0
453,2000,Mississippi,39900.0,46,Female,White,Married/spouse present,25000.0
454,2000,Mississippi,57700.0,45,Female,Black,Married/spouse present,0.0
456,2000,Mississippi,NaN,31,Male,White,Never married/single,25000.0
458,2000,Missouri,54000.0,41,Female,Black,Never married/single,54000.0
460,2000,Missouri,15600.0,44,Female,White,Divorced,14000.0
465,2000,Missouri,22200.0,30,Male,White,Married/spouse present,15700.0
468,2000,Pennsylvania,74490.0,42,Male,White,Married/spouse present,68020.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

In [39]:
census[(census['race_general'] == 'White') | (census['race_general'] == 'Black')]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
30,2000,Florida,60000.0,55,Male,White,Married/spouse present,53000.0
...,...,...,...,...,...,...,...,...
469,2000,Pennsylvania,20000.0,3,Male,White,Never married/single,NaN
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

# Question 7

In [42]:
census[census['total_personal_income'].isnull() ]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
37,2000,Florida,6000.0,2,Male,White,Never married/single,NaN
44,2000,New York,13000.0,1,Male,White,Never married/single,NaN
45,2000,New York,68020.0,2,Female,Chinese,Never married/single,NaN
49,2000,New York,12400.0,7,Male,White,Never married/single,NaN
51,2000,New York,65000.0,1,Female,White,Never married/single,NaN
54,2000,New York,81710.0,14,Male,White,Never married/single,NaN
59,2000,New York,168200.0,6,Female,White,Never married/single,NaN
63,2000,New York,17000.0,2,Male,Two major races,Never married/single,NaN
65,2000,New York,18800.0,10,Female,Black,Never married/single,NaN
71,2000,New York,0.0,7,Male,White,Never married/single,NaN
77,2000,New York,77600.0,2,Male,White,Never married/single,NaN
80,2000,New York,75000.0,2,Male,White,Never married/single,NaN
81,2000,New York,104000.0,10,Female,White,Never married/single,NaN
84,2000,Wyoming,146000.0,12,Female,White,Never married/single,NaN
89,2000,Alabama,33600.0,7,Male,White,Never married/single,NaN
94,2000,California,67500.0,3,Female,White,Never married/single,NaN
95,2000,California,21800.0,6,Male,Other Asian or Pacific Islander,Never married/single,NaN
103,2000,California,21000.0,3,Female,White,Never married/single,NaN
107,2000,California,82300.0,5,Male,Chinese,Never married/single,NaN
127,2000,California,27500.0,13,Male,Two major races,Never married/single,NaN
129,2000,California,37600.0,4,Male,Two major races,Never married/single,NaN
132,2000,California,7500.0,7,Male,Other,Never married/single,NaN
143,2000,California,99600.0,8,Male,White,Never married/single,NaN
144,2000,California,18500.0,6,Male,White,Never married/single,NaN
...,...,...,...,...,...,...,...,...
375,2000,North Carolina,13460.0,8,Female,Two major races,Never married/single,NaN
377,2000,North Carolina,39500.0,4,Male,White,Never married/single,NaN
380,2000,South Carolina,48300.0,5,Female,White,Never married/single,NaN
383,2000,South Carolina,22000.0,4,Female,White,Never married/single,NaN
388,2000,South Carolina,29600.0,7,Male,Two major races,Never married/single,NaN
405,2000,Washington,23600.0,2,Female,Other Asian or Pacific Islander,Never married/single,NaN
406,2000,Washington,17100.0,4,Male,Other,Never married/single,NaN
413,2000,Wisconsin,50000.0,10,Male,White,Never married/single,NaN
418,2000,Wisconsin,14620.0,9,Female,White,Never married/single,NaN
419,2000,Arkansas,10940.0,6,Female,Black,Never married/single,NaN
423,2000,Indiana,42000.0,5,Female,Other,Never married/single,NaN
435,2000,Indiana,130000.0,8,Male,White,Never married/single,NaN
437,2000,Indiana,62490.0,9,Male,White,Never married/single,NaN
438,2000,Indiana,67300.0,7,Male,White,Never married/single,NaN
446,2000,Louisiana,500.0,10,Male,Black,Never married/single,NaN
449,2000,Louisiana,55800.0,4,Male,White,Never married/single,NaN
455,2000,Mississippi,3300.0,3,Male,Black,Never married/single,NaN
459,2000,Missouri,36400.0,3,Male,White,Never married/single,NaN
462,2000,Missouri,74000.0,12,Male,White,Never married/single,NaN
466,2000,Missouri,79100.0,10,Male,White,Never married/single,NaN
467,2000,Pennsylvania,75050.0,5,Female,White,Never married/single,NaN
469,2000,Pennsylvania,20000.0,3,Male,White,Never married/single,NaN
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN

# Question 8

In [43]:
census.isnull()

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,True
14,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,True
27,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
470,False,False,False,False,False,False,False,True
471,False,False,False,False,False,False,False,False
472,False,False,False,False,False,False,False,False
473,False,False,True,False,False,False,False,False
474,False,False,False,False,False,False,False,False
475,False,False,False,False,False,False,False,False
476,False,False,False,False,False,False,False,True
477,False,False,False,False,False,False,False,True
478,False,False,False,False,False,False,False,True
479,False,False,False,False,False,False,False,True
480,False,False,False,False,False,False,False,False
481,False,False,False,False,False,False,False,False
482,False,False,True,False,False,False,False,False
483,False,False,False,False,False,False,False,False
484,False,False,False,False,False,False,False,False
485,False,False,False,False,False,False,False,False
486,False,False,False,False,False,False,False,False
487,False,False,False,False,False,False,False,False
488,False,False,False,False,False,False,False,True
489,False,False,False,False,False,False,False,False
490,False,False,False,False,False,False,False,False
491,False,False,False,False,False,False,False,False
492,False,False,False,False,False,False,False,False
493,False,False,False,False,False,False,False,False
494,False,False,False,False,False,False,False,True
495,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,True
497,False,False,False,False,False,False,False,False
498,False,False,True,False,False,False,False,False
499,False,False,False,False,False,False,False,False

Observations on what I see in that output in Question 8 is that isnull() basically searched every output in every row, and 'false' was outputted if it wasn't empty, and 'true' was outputted if it was empty. Being that it searched the census dataframe as a whole compared to a specifc row, every single part was tested to be empty or not. Very interesting.