In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
census = pd.read_csv('census.csv',
                  na_values = ':',
                  usecols = [ 'census_year', 'state_fips_code', 'age',
                              'sex', 'race_general', 'marital_status', 'total_personal_income'])
census

,census_year,state_fips_code,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,20,Female,White,Never married/single,13000.0
2,2000,Florida,20,Male,Black,Never married/single,20000.0
3,2000,Florida,6,Female,White,Never married/single,NaN
4,2000,Florida,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,58,Female,White,Widowed,14600.0
10,2000,Florida,33,Female,White,Never married/single,23000.0
11,2000,Florida,51,Female,White,Divorced,37000.0
12,2000,Florida,62,Female,White,Divorced,32000.0
13,2000,Florida,8,Male,White,Never married/single,NaN
14,2000,Florida,25,Male,White,Never married/single,6000.0
15,2000,Florida,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,1,Male,White,Never married/single,NaN
18,2000,Florida,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,80,Female,White,Widowed,31600.0
22,2000,Florida,2,Male,White,Never married/single,NaN
23,2000,Florida,47,Male,White,Never married/single,49300.0
24,2000,Florida,12,Male,White,Never married/single,NaN
25,2000,Florida,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,8,Female,White,Never married/single,NaN
27,2000,Florida,67,Male,Black,Widowed,8400.0
28,2000,Florida,17,Female,White,Never married/single,3700.0
29,2000,Florida,69,Female,White,Divorced,4800.0
...,...,...,...,...,...,...,...
470,2000,Pennsylvania,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,61,Female,White,Never married/single,6700.0
473,2000,Pennsylvania,36,Male,Black,Married/spouse absent,6500.0
474,2000,Pennsylvania,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,32,Female,Black,Never married/single,27000.0
482,2000,Pennsylvania,68,Male,White,Widowed,9100.0
483,2000,Pennsylvania,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,41,Female,White,Married/spouse present,9100.0
488,2000,Pennsylvania,6,Female,White,Never married/single,NaN
489,2000,Pennsylvania,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,76,Male,White,Married/spouse present,14500.0
492,2000,Pennsylvania,24,Male,White,Never married/single,22000.0
493,2000,Virginia,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,5,Male,White,Never married/single,NaN
495,2000,Virginia,68,Female,White,Divorced,8500.0
496,2000,Virginia,12,Male,White,Never married/single,NaN
497,2000,Virginia,60,Male,Black,Widowed,15000.0
498,2000,Virginia,60,Male,Black,Married/spouse absent,48600.0
499,2000,Virginia,47,Male,White,Married/spouse present,19800.0

##### 1. There are 500 rows or observations included in this census dataframe.

 #### 2. Variables in the dataframe are 'census_year', 'state_fips_code', 'age', 'sex', 'race_general', 'marital_status', and  'total_personal_income'.

In [4]:
# Outputting only numerical values throughout the data, sorts out which columns are numerical 
census.select_dtypes(include = ['number'])
# Therefore, the numerical variables are census_year, age, and total_personal_income.

     census_year  age  total_personal_income
0           2000   44                    0.0
1           2000   20                13000.0
2           2000   20                20000.0
3           2000    6                    NaN
4           2000   55                36000.0
5           2000   43                27000.0
6           2000   60                11800.0
7           2000   47                48000.0
8           2000   54                40000.0
9           2000   58                14600.0
10          2000   33                23000.0
11          2000   51                37000.0
12          2000   62                32000.0
13          2000    8                    NaN
14          2000   25                 6000.0
15          2000   44                16100.0
16          2000   28                12000.0
17          2000    1                    NaN
18          2000   31                20000.0
19          2000   69                 4800.0
20          2000   31                28000.0
21          2000   80                31600.0
22          2000    2                    NaN
23          2000   47                49300.0
24          2000   12                    NaN
25          2000   47                34320.0
26          2000    8                    NaN
27          2000   67                 8400.0
28          2000   17                 3700.0
29          2000   69                 4800.0
..           ...  ...                    ...
470         2000    1                    NaN
471         2000   29                 2800.0
472         2000   61                 6700.0
473         2000   36                 6500.0
474         2000   25                16000.0
475         2000   41                24000.0
476         2000    9                    NaN
477         2000   10                    NaN
478         2000   13                    NaN
479         2000    3                    NaN
480         2000   15                    0.0
481         2000   32                27000.0
482         2000   68                 9100.0
483         2000   32                21000.0
484         2000   32                 9500.0
485         2000   24                 2200.0
486         2000   18                15000.0
487         2000   41                 9100.0
488         2000    6                    NaN
489         2000   38               103000.0
490         2000   43                68000.0
491         2000   76                14500.0
492         2000   24                22000.0
493         2000   36                18000.0
494         2000    5                    NaN
495         2000   68                 8500.0
496         2000   12                    NaN
497         2000   60                15000.0
498         2000   60                48600.0
499         2000   47                19800.0

[500 rows x 3 columns]

In [5]:
# Outputting only categorical values throughout the data, sorts out which columns are objects  
census.select_dtypes(include = ['object'])
# Therefore, the categorical objects of the dataframe are state_fips_code, sex, race_general_ and marital_status.

    state_fips_code     sex     race_general          marital_status
0           Florida    Male  Two major races  Married/spouse present
1           Florida  Female            White    Never married/single
2           Florida    Male            Black    Never married/single
3           Florida  Female            White    Never married/single
4           Florida    Male            White  Married/spouse present
5           Florida  Female            White  Married/spouse present
6           Florida  Female            White  Married/spouse present
7           Florida  Female            White  Married/spouse present
8           Florida  Female            Black  Married/spouse present
9           Florida  Female            White                 Widowed
10          Florida  Female            White    Never married/single
11          Florida  Female            White                Divorced
12          Florida  Female            White                Divorced
13          Florida    Male            White    Never married/single
14          Florida    Male            White    Never married/single
15          Florida  Female            White  Married/spouse present
16          Florida  Female            White  Married/spouse present
17          Florida    Male            White    Never married/single
18          Florida    Male            White  Married/spouse present
19          Florida  Female            White  Married/spouse present
20          Florida    Male            White  Married/spouse present
21          Florida  Female            White                 Widowed
22          Florida    Male            White    Never married/single
23          Florida    Male            White    Never married/single
24          Florida    Male            White    Never married/single
25          Florida    Male            White  Married/spouse present
26          Florida  Female            White    Never married/single
27          Florida    Male            Black                 Widowed
28          Florida  Female            White    Never married/single
29          Florida  Female            White                Divorced
..              ...     ...              ...                     ...
470    Pennsylvania    Male            White    Never married/single
471    Pennsylvania  Female            White  Married/spouse present
472    Pennsylvania  Female            White    Never married/single
473    Pennsylvania    Male            Black   Married/spouse absent
474    Pennsylvania  Female            White    Never married/single
475    Pennsylvania    Male            White  Married/spouse present
476    Pennsylvania  Female            White    Never married/single
477    Pennsylvania  Female            Black    Never married/single
478    Pennsylvania    Male            White    Never married/single
479    Pennsylvania    Male            White    Never married/single
480    Pennsylvania    Male            Other    Never married/single
481    Pennsylvania  Female            Black    Never married/single
482    Pennsylvania    Male            White                 Widowed
483    Pennsylvania  Female            White  Married/spouse present
484    Pennsylvania  Female            White    Never married/single
485    Pennsylvania    Male            White    Never married/single
486    Pennsylvania    Male            White    Never married/single
487    Pennsylvania  Female            White  Married/spouse present
488    Pennsylvania  Female            White    Never married/single
489    Pennsylvania    Male            White  Married/spouse present
490    Pennsylvania    Male            White  Married/spouse present
491    Pennsylvania    Male            White  Married/spouse present
492    Pennsylvania    Male            White    Never married/single
493        Virginia    Male            White  Married/spouse present
494        Virginia    Male            White    Never married/single
495        Virginia  Female            White                Divorced
496        Virginia    Male            White    Never married/single
497        Virginia    Male            Black                 Widowed
498        Virginia    Male            Black   Married/spouse absent
499        Virginia    Male            White  Married/spouse present

[500 rows x 4 columns]