In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
census = pd.read_csv('census.csv',
                  na_values = ':',
                  usecols = [ 'census_year', 'state_fips_code', 'age',
                              'sex', 'race_general', 'marital_status', 'total_personal_income'])
census

,census_year,state_fips_code,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,20,Female,White,Never married/single,13000.0
2,2000,Florida,20,Male,Black,Never married/single,20000.0
3,2000,Florida,6,Female,White,Never married/single,NaN
4,2000,Florida,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,58,Female,White,Widowed,14600.0
10,2000,Florida,33,Female,White,Never married/single,23000.0
11,2000,Florida,51,Female,White,Divorced,37000.0
12,2000,Florida,62,Female,White,Divorced,32000.0
13,2000,Florida,8,Male,White,Never married/single,NaN
14,2000,Florida,25,Male,White,Never married/single,6000.0
15,2000,Florida,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,1,Male,White,Never married/single,NaN
18,2000,Florida,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,80,Female,White,Widowed,31600.0
22,2000,Florida,2,Male,White,Never married/single,NaN
23,2000,Florida,47,Male,White,Never married/single,49300.0
24,2000,Florida,12,Male,White,Never married/single,NaN
25,2000,Florida,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,8,Female,White,Never married/single,NaN
27,2000,Florida,67,Male,Black,Widowed,8400.0
28,2000,Florida,17,Female,White,Never married/single,3700.0
29,2000,Florida,69,Female,White,Divorced,4800.0
...,...,...,...,...,...,...,...
470,2000,Pennsylvania,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,61,Female,White,Never married/single,6700.0
473,2000,Pennsylvania,36,Male,Black,Married/spouse absent,6500.0
474,2000,Pennsylvania,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,32,Female,Black,Never married/single,27000.0
482,2000,Pennsylvania,68,Male,White,Widowed,9100.0
483,2000,Pennsylvania,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,41,Female,White,Married/spouse present,9100.0
488,2000,Pennsylvania,6,Female,White,Never married/single,NaN
489,2000,Pennsylvania,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,76,Male,White,Married/spouse present,14500.0
492,2000,Pennsylvania,24,Male,White,Never married/single,22000.0
493,2000,Virginia,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,5,Male,White,Never married/single,NaN
495,2000,Virginia,68,Female,White,Divorced,8500.0
496,2000,Virginia,12,Male,White,Never married/single,NaN
497,2000,Virginia,60,Male,Black,Widowed,15000.0
498,2000,Virginia,60,Male,Black,Married/spouse absent,48600.0
499,2000,Virginia,47,Male,White,Married/spouse present,19800.0

In [8]:
census['marital_status']

0      Married/spouse present
1        Never married/single
2        Never married/single
3        Never married/single
4      Married/spouse present
5      Married/spouse present
6      Married/spouse present
7      Married/spouse present
8      Married/spouse present
9                     Widowed
10       Never married/single
11                   Divorced
12                   Divorced
13       Never married/single
14       Never married/single
15     Married/spouse present
16     Married/spouse present
17       Never married/single
18     Married/spouse present
19     Married/spouse present
20     Married/spouse present
21                    Widowed
22       Never married/single
23       Never married/single
24       Never married/single
25     Married/spouse present
26       Never married/single
27                    Widowed
28       Never married/single
29                   Divorced
                ...
470      Never married/single
471    Married/spouse present
472      Never married/single
473     Married/spouse absent
474      Never married/single
475    Married/spouse present
476      Never married/single
477      Never married/single
478      Never married/single
479      Never married/single
480      Never married/single
481      Never married/single
482                   Widowed
483    Married/spouse present
484      Never married/single
485      Never married/single
486      Never married/single
487    Married/spouse present
488      Never married/single
489    Married/spouse present
490    Married/spouse present
491    Married/spouse present
492      Never married/single
493    Married/spouse present
494      Never married/single
495                  Divorced
496      Never married/single
497                   Widowed
498     Married/spouse absent
499    Married/spouse present
Name: marital_status, Length: 500, dtype: object

In [12]:
census[census['marital_status'] == 'Widowed']

,census_year,state_fips_code,age,sex,race_general,marital_status,total_personal_income
9,2000,Florida,58,Female,White,Widowed,14600.0
21,2000,Florida,80,Female,White,Widowed,31600.0
27,2000,Florida,67,Male,Black,Widowed,8400.0
39,2000,New York,82,Female,White,Widowed,8800.0
42,2000,New York,83,Male,White,Widowed,15570.0
74,2000,New York,81,Male,White,Widowed,55000.0
76,2000,New York,72,Female,White,Widowed,17300.0
106,2000,California,58,Female,Chinese,Widowed,0.0
138,2000,California,79,Female,White,Widowed,41500.0
210,2000,Ohio,50,Female,Black,Widowed,19604.0
216,2000,Ohio,75,Female,White,Widowed,10400.0
266,2000,Texas,52,Female,White,Widowed,0.0
267,2000,Texas,70,Male,White,Widowed,5100.0
287,2000,Kentucky,60,Male,Black,Widowed,3800.0
290,2000,Massachusetts,82,Female,White,Widowed,22700.0
320,2000,Arizona,60,Female,White,Widowed,30000.0
321,2000,Arizona,67,Female,White,Widowed,0.0
326,2000,Delaware,85,Female,White,Widowed,9100.0
342,2000,Georgia,59,Female,Black,Widowed,21200.0
366,2000,Minnesota,69,Female,White,Widowed,17000.0
367,2000,Minnesota,81,Female,White,Widowed,0.0
403,2000,Washington,64,Male,Other Asian or Pacific Islander,Widowed,15000.0
408,2000,West Virginia,87,Male,White,Widowed,0.0
424,2000,Indiana,85,Male,Black,Widowed,8000.0
430,2000,Indiana,76,Female,White,Widowed,11580.0
439,2000,Indiana,70,Female,White,Widowed,15800.0
441,2000,Louisiana,71,Male,Black,Widowed,13300.0
451,2000,Louisiana,93,Female,White,Widowed,8100.0
461,2000,Missouri,81,Female,White,Widowed,9400.0
482,2000,Pennsylvania,68,Male,White,Widowed,9100.0
497,2000,Virginia,60,Male,Black,Widowed,15000.0

In [18]:
census[census['marital_status'] == 'Divorced']

,census_year,state_fips_code,age,sex,race_general,marital_status,total_personal_income
11,2000,Florida,51,Female,White,Divorced,37000.0
12,2000,Florida,62,Female,White,Divorced,32000.0
29,2000,Florida,69,Female,White,Divorced,4800.0
40,2000,New York,46,Female,White,Divorced,17000.0
57,2000,New York,40,Female,Two major races,Divorced,25000.0
66,2000,New York,61,Female,White,Divorced,105000.0
85,2000,Alabama,73,Female,Black,Divorced,3000.0
87,2000,Alabama,60,Female,Black,Divorced,11200.0
101,2000,California,52,Female,White,Divorced,5100.0
108,2000,California,20,Male,White,Divorced,26300.0
119,2000,California,58,Male,Other,Divorced,0.0
152,2000,Illinois,47,Male,White,Divorced,45000.0
159,2000,Illinois,62,Male,White,Divorced,34000.0
169,2000,Illinois,35,Female,Black,Divorced,30000.0
171,2000,Illinois,41,Female,White,Divorced,38500.0
187,2000,New Jersey,46,Female,Black,Divorced,4500.0
191,2000,New Jersey,31,Female,White,Divorced,36200.0
194,2000,New Jersey,38,Male,White,Divorced,8840.0
209,2000,Ohio,65,Male,White,Divorced,12600.0
217,2000,Ohio,53,Female,White,Divorced,44200.0
235,2000,Texas,27,Female,White,Divorced,0.0
243,2000,Texas,45,Male,White,Divorced,150500.0
248,2000,Texas,35,Male,White,Divorced,40050.0
259,2000,Texas,44,Male,White,Divorced,55000.0
271,2000,Colorado,48,Male,White,Divorced,100.0
275,2000,Connecticut,52,Male,White,Divorced,51000.0
279,2000,Iowa,61,Female,White,Divorced,14300.0
308,2000,New Mexico,46,Male,White,Divorced,44000.0
335,2000,Georgia,53,Female,White,Divorced,56740.0
341,2000,Georgia,45,Female,Black,Divorced,21000.0
382,2000,South Carolina,40,Male,White,Divorced,5000.0
410,2000,Wisconsin,63,Male,White,Divorced,34500.0
416,2000,Wisconsin,40,Male,White,Divorced,49100.0
427,2000,Indiana,33,Male,White,Divorced,36000.0
436,2000,Indiana,40,Female,White,Divorced,9000.0
450,2000,Louisiana,54,Male,Black,Divorced,12100.0
460,2000,Missouri,44,Female,White,Divorced,14000.0
495,2000,Virginia,68,Female,White,Divorced,8500.0

In [20]:
census[census['marital_status'] == 'Never married/single']

,census_year,state_fips_code,age,sex,race_general,marital_status,total_personal_income
1,2000,Florida,20,Female,White,Never married/single,13000.0
2,2000,Florida,20,Male,Black,Never married/single,20000.0
3,2000,Florida,6,Female,White,Never married/single,NaN
10,2000,Florida,33,Female,White,Never married/single,23000.0
13,2000,Florida,8,Male,White,Never married/single,NaN
14,2000,Florida,25,Male,White,Never married/single,6000.0
17,2000,Florida,1,Male,White,Never married/single,NaN
22,2000,Florida,2,Male,White,Never married/single,NaN
23,2000,Florida,47,Male,White,Never married/single,49300.0
24,2000,Florida,12,Male,White,Never married/single,NaN
26,2000,Florida,8,Female,White,Never married/single,NaN
28,2000,Florida,17,Female,White,Never married/single,3700.0
31,2000,Florida,18,Female,White,Never married/single,7500.0
34,2000,Florida,21,Male,Black,Never married/single,4800.0
36,2000,Florida,18,Male,White,Never married/single,2000.0
37,2000,Florida,2,Male,White,Never married/single,NaN
44,2000,New York,1,Male,White,Never married/single,NaN
45,2000,New York,2,Female,Chinese,Never married/single,NaN
47,2000,New York,36,Male,White,Never married/single,17500.0
49,2000,New York,7,Male,White,Never married/single,NaN
50,2000,New York,21,Female,White,Never married/single,4000.0
51,2000,New York,1,Female,White,Never married/single,NaN
52,2000,New York,17,Female,Black,Never married/single,2000.0
53,2000,New York,29,Male,Black,Never married/single,10000.0
54,2000,New York,14,Male,White,Never married/single,NaN
55,2000,New York,33,Male,White,Never married/single,37100.0
56,2000,New York,16,Male,White,Never married/single,1800.0
59,2000,New York,6,Female,White,Never married/single,NaN
61,2000,New York,17,Male,Black,Never married/single,2000.0
62,2000,New York,37,Male,Black,Never married/single,0.0
...,...,...,...,...,...,...,...
438,2000,Indiana,7,Male,White,Never married/single,NaN
446,2000,Louisiana,10,Male,Black,Never married/single,NaN
447,2000,Louisiana,71,Male,White,Never married/single,21700.0
449,2000,Louisiana,4,Male,White,Never married/single,NaN
452,2000,Mississippi,32,Female,Black,Never married/single,1400.0
455,2000,Mississippi,3,Male,Black,Never married/single,NaN
456,2000,Mississippi,31,Male,White,Never married/single,25000.0
458,2000,Missouri,41,Female,Black,Never married/single,54000.0
459,2000,Missouri,3,Male,White,Never married/single,NaN
462,2000,Missouri,12,Male,White,Never married/single,NaN
464,2000,Missouri,17,Female,White,Never married/single,0.0
466,2000,Missouri,10,Male,White,Never married/single,NaN
467,2000,Pennsylvania,5,Female,White,Never married/single,NaN
469,2000,Pennsylvania,3,Male,White,Never married/single,NaN
470,2000,Pennsylvania,1,Male,White,Never married/single,NaN
472,2000,Pennsylvania,61,Female,White,Never married/single,6700.0
474,2000,Pennsylvania,25,Female,White,Never married/single,16000.0
476,2000,Pennsylvania,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,32,Female,Black,Never married/single,27000.0
484,2000,Pennsylvania,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,18,Male,White,Never married/single,15000.0
488,2000,Pennsylvania,6,Female,White,Never married/single,NaN
492,2000,Pennsylvania,24,Male,White,Never married/single,22000.0
494,2000,Virginia,5,Male,White,Never married/single,NaN
496,2000,Virginia,12,Male,White,Never married/single,NaN

In [21]:
census[census['marital_status'] == 'Married/spouse absent']

,census_year,state_fips_code,age,sex,race_general,marital_status,total_personal_income
104,2000,California,21,Female,Other,Married/spouse absent,9500.0
166,2000,Illinois,39,Male,White,Married/spouse absent,22000.0
167,2000,Illinois,87,Female,White,Married/spouse absent,13000.0
177,2000,Maryland,25,Male,Black,Married/spouse absent,19200.0
250,2000,Texas,49,Male,Black,Married/spouse absent,0.0
273,2000,Colorado,35,Male,Other,Married/spouse absent,13000.0
286,2000,Kentucky,37,Male,Black,Married/spouse absent,100000.0
319,2000,Arizona,53,Female,White,Married/spouse absent,30000.0
332,2000,Georgia,40,Male,Black,Married/spouse absent,25000.0
339,2000,Georgia,28,Female,Black,Married/spouse absent,15000.0
432,2000,Indiana,57,Female,White,Married/spouse absent,29340.0
443,2000,Louisiana,44,Male,Black,Married/spouse absent,0.0
473,2000,Pennsylvania,36,Male,Black,Married/spouse absent,6500.0
498,2000,Virginia,60,Male,Black,Married/spouse absent,48600.0

In [22]:
census[census['marital_status'] == 'Married/spouse present']

,census_year,state_fips_code,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,44,Male,Two major races,Married/spouse present,0.0
4,2000,Florida,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,54,Female,Black,Married/spouse present,40000.0
15,2000,Florida,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,28,Female,White,Married/spouse present,12000.0
18,2000,Florida,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,31,Male,White,Married/spouse present,28000.0
25,2000,Florida,47,Male,White,Married/spouse present,34320.0
30,2000,Florida,55,Male,White,Married/spouse present,53000.0
32,2000,Florida,66,Female,White,Married/spouse present,6000.0
33,2000,Florida,58,Female,White,Married/spouse present,0.0
35,2000,Florida,52,Male,White,Married/spouse present,35000.0
38,2000,Florida,26,Male,Other,Married/spouse present,24250.0
41,2000,New York,63,Male,White,Married/spouse present,123000.0
43,2000,New York,35,Female,White,Married/spouse present,15830.0
46,2000,New York,54,Female,White,Married/spouse present,64000.0
58,2000,New York,34,Male,White,Married/spouse present,121600.0
60,2000,New York,49,Male,White,Married/spouse present,55300.0
64,2000,New York,40,Female,Black,Married/spouse present,0.0
67,2000,New York,24,Female,Chinese,Married/spouse present,0.0
70,2000,New York,36,Female,Black,Married/spouse present,19900.0
72,2000,New York,32,Female,White,Married/spouse present,22000.0
75,2000,New York,47,Male,White,Married/spouse present,38000.0
78,2000,New York,46,Female,Black,Married/spouse present,14200.0
79,2000,New York,27,Female,White,Married/spouse present,14500.0
86,2000,Alabama,40,Male,White,Married/spouse present,47950.0
...,...,...,...,...,...,...,...
409,2000,Wisconsin,31,Male,White,Married/spouse present,39510.0
412,2000,Wisconsin,29,Female,White,Married/spouse present,20000.0
415,2000,Wisconsin,61,Male,White,Married/spouse present,55000.0
420,2000,Hawaii,49,Female,Other Asian or Pacific Islander,Married/spouse present,22000.0
421,2000,Hawaii,54,Female,Chinese,Married/spouse present,34600.0
422,2000,Idaho,60,Male,White,Married/spouse present,23000.0
426,2000,Indiana,29,Male,White,Married/spouse present,6500.0
431,2000,Indiana,37,Male,Other Asian or Pacific Islander,Married/spouse present,39920.0
433,2000,Indiana,29,Female,White,Married/spouse present,45500.0
434,2000,Indiana,26,Female,White,Married/spouse present,0.0
440,2000,Louisiana,37,Female,White,Married/spouse present,24000.0
442,2000,Louisiana,49,Male,White,Married/spouse present,29800.0
444,2000,Louisiana,31,Male,White,Married/spouse present,6000.0
445,2000,Louisiana,74,Male,White,Married/spouse present,104800.0
448,2000,Louisiana,54,Male,Black,Married/spouse present,0.0
453,2000,Mississippi,46,Female,White,Married/spouse present,25000.0
454,2000,Mississippi,45,Female,Black,Married/spouse present,0.0
457,2000,Missouri,70,Male,White,Married/spouse present,11800.0
463,2000,Missouri,81,Male,White,Married/spouse present,16300.0
465,2000,Missouri,30,Male,White,Married/spouse present,15700.0
468,2000,Pennsylvania,42,Male,White,Married/spouse present,68020.0
471,2000,Pennsylvania,29,Female,White,Married/spouse present,2800.0
475,2000,Pennsylvania,41,Male,White,Married/spouse present,24000.0
483,2000,Pennsylvania,32,Female,White,Married/spouse present,21000.0
487,2000,Pennsylvania,41,Female,White,Married/spouse present,9100.0
489,2000,Pennsylvania,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,76,Male,White,Married/spouse present,14500.0
493,2000,Virginia,36,Male,White,Married/spouse present,18000.0
499,2000,Virginia,47,Male,White,Married/spouse present,19800.0