In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Question 1
Define a piecewise function using an "if, elif, else" statement

In [ ]:
# Example of a piecewise function using "if, elif"
Age = 27
if Age >= 60:
    print ('Senior Discount')
elif 18 <= Age < 60:
    print('No Discount')
else:
    print ('Junior Discount')

# Question 2
What are the different ways of handling ties using "rank()"?

# Question 3

In [3]:
census = pd.read_csv('census.csv',
                  na_values = ':',
                  usecols = [ 'census_year', 'state_fips_code','total_family_income', 'age', 'sex',
                             'race_general','marital_status','total_personal_income'])
census

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
...,...,...,...,...,...,...,...,...
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

In [4]:
# return the rows with no missing data
census[census['census_year'].notnull()]

,census_year,state_fips_code,total_family_income,age,sex,race_general,marital_status,total_personal_income
0,2000,Florida,14550.0,44,Male,Two major races,Married/spouse present,0.0
1,2000,Florida,22800.0,20,Female,White,Never married/single,13000.0
2,2000,Florida,0.0,20,Male,Black,Never married/single,20000.0
3,2000,Florida,23000.0,6,Female,White,Never married/single,NaN
4,2000,Florida,48000.0,55,Male,White,Married/spouse present,36000.0
5,2000,Florida,74000.0,43,Female,White,Married/spouse present,27000.0
6,2000,Florida,23000.0,60,Female,White,Married/spouse present,11800.0
7,2000,Florida,74000.0,47,Female,White,Married/spouse present,48000.0
8,2000,Florida,60000.0,54,Female,Black,Married/spouse present,40000.0
9,2000,Florida,14600.0,58,Female,White,Widowed,14600.0
10,2000,Florida,0.0,33,Female,White,Never married/single,23000.0
11,2000,Florida,37000.0,51,Female,White,Divorced,37000.0
12,2000,Florida,32000.0,62,Female,White,Divorced,32000.0
13,2000,Florida,113000.0,8,Male,White,Never married/single,NaN
14,2000,Florida,76900.0,25,Male,White,Never married/single,6000.0
15,2000,Florida,100100.0,44,Female,White,Married/spouse present,16100.0
16,2000,Florida,48000.0,28,Female,White,Married/spouse present,12000.0
17,2000,Florida,48000.0,1,Male,White,Never married/single,NaN
18,2000,Florida,57200.0,31,Male,White,Married/spouse present,20000.0
19,2000,Florida,43950.0,69,Female,White,Married/spouse present,4800.0
20,2000,Florida,49000.0,31,Male,White,Married/spouse present,28000.0
21,2000,Florida,31600.0,80,Female,White,Widowed,31600.0
22,2000,Florida,50090.0,2,Male,White,Never married/single,NaN
23,2000,Florida,64800.0,47,Male,White,Never married/single,49300.0
24,2000,Florida,90000.0,12,Male,White,Never married/single,NaN
25,2000,Florida,38320.0,47,Male,White,Married/spouse present,34320.0
26,2000,Florida,103700.0,8,Female,White,Never married/single,NaN
27,2000,Florida,0.0,67,Male,Black,Widowed,8400.0
28,2000,Florida,70700.0,17,Female,White,Never married/single,3700.0
29,2000,Florida,64800.0,69,Female,White,Divorced,4800.0
...,...,...,...,...,...,...,...,...
470,2000,Pennsylvania,27150.0,1,Male,White,Never married/single,NaN
471,2000,Pennsylvania,40300.0,29,Female,White,Married/spouse present,2800.0
472,2000,Pennsylvania,18600.0,61,Female,White,Never married/single,6700.0
473,2000,Pennsylvania,NaN,36,Male,Black,Married/spouse absent,6500.0
474,2000,Pennsylvania,0.0,25,Female,White,Never married/single,16000.0
475,2000,Pennsylvania,24000.0,41,Male,White,Married/spouse present,24000.0
476,2000,Pennsylvania,24000.0,9,Female,White,Never married/single,NaN
477,2000,Pennsylvania,17900.0,10,Female,Black,Never married/single,NaN
478,2000,Pennsylvania,32350.0,13,Male,White,Never married/single,NaN
479,2000,Pennsylvania,42300.0,3,Male,White,Never married/single,NaN
480,2000,Pennsylvania,17800.0,15,Male,Other,Never married/single,0.0
481,2000,Pennsylvania,33000.0,32,Female,Black,Never married/single,27000.0
482,2000,Pennsylvania,NaN,68,Male,White,Widowed,9100.0
483,2000,Pennsylvania,44000.0,32,Female,White,Married/spouse present,21000.0
484,2000,Pennsylvania,24700.0,32,Female,White,Never married/single,9500.0
485,2000,Pennsylvania,0.0,24,Male,White,Never married/single,2200.0
486,2000,Pennsylvania,69000.0,18,Male,White,Never married/single,15000.0
487,2000,Pennsylvania,60300.0,41,Female,White,Married/spouse present,9100.0
488,2000,Pennsylvania,150000.0,6,Female,White,Never married/single,NaN
489,2000,Pennsylvania,171000.0,38,Male,White,Married/spouse present,103000.0
490,2000,Pennsylvania,103000.0,43,Male,White,Married/spouse present,68000.0
491,2000,Pennsylvania,51700.0,76,Male,White,Married/spouse present,14500.0
492,2000,Pennsylvania,119800.0,24,Male,White,Never married/single,22000.0
493,2000,Virginia,18000.0,36,Male,White,Married/spouse present,18000.0
494,2000,Virginia,45100.0,5,Male,White,Never married/single,NaN
495,2000,Virginia,8500.0,68,Female,White,Divorced,8500.0
496,2000,Virginia,55400.0,12,Male,White,Never married/single,NaN
497,2000,Virginia,15000.0,60,Male,Black,Widowed,15000.0
498,2000,Virginia,NaN,60,Male,Black,Married/spouse absent,48600.0
499,2000,Virginia,39370.0,47,Male,White,Married/spouse present,19800.0

In [5]:
census['total_family_income'].apply(np.sqrt)

0      120.623381
1      150.996689
2        0.000000
3      151.657509
4      219.089023
5      272.029410
6      151.657509
7      272.029410
8      244.948974
9      120.830460
10       0.000000
11     192.353841
12     178.885438
13     336.154726
14     277.308492
15     316.385840
16     219.089023
17     219.089023
18     239.165215
19     209.642553
20     221.359436
21     177.763888
22     223.807953
23     254.558441
24     300.000000
25     195.754949
26     322.024844
27       0.000000
28     265.894716
29     254.558441
          ...
470    164.772571
471    200.748599
472    136.381817
473           NaN
474      0.000000
475    154.919334
476    154.919334
477    133.790882
478    179.861057
479    205.669638
480    133.416641
481    181.659021
482           NaN
483    209.761770
484    157.162336
485      0.000000
486    262.678511
487    245.560583
488    387.298335
489    413.521463
490    320.936131
491    227.376340
492    346.121366
493    134.164079
494    212.367606
495     92.195445
496    235.372046
497    122.474487
498           NaN
499    198.418749
Name: total_family_income, Length: 500, dtype: float64

In [6]:
#census[census['total_family_income'] == 2020] [["census_year", "total_family_income"]]
census['total_family_income'].apply(lambda x: x**0.012)

0      1.121901
1      1.127964
2      0.000000
3      1.128082
4      1.138086
5      1.144013
6      1.128082
7      1.144013
8      1.141137
9      1.121947
10     0.000000
11     1.134536
12     1.132562
13     1.149839
14     1.144540
15     1.148167
16     1.138086
17     1.138086
18     1.140483
19     1.136882
20     1.138367
21     1.132391
22     1.138668
23     1.142191
24     1.146703
25     1.135014
26     1.148654
27     0.000000
28     1.143386
29     1.142191
         ...
470    1.130330
471    1.135700
472    1.125211
473         NaN
474    0.000000
475    1.128658
476    1.128658
477    1.124694
478    1.132709
479    1.136360
480    1.124618
481    1.132980
482         NaN
483    1.136898
484    1.129048
485    0.000000
486    1.143053
487    1.141205
488    1.153754
489    1.155569
490    1.148561
491    1.139100
492    1.150645
493    1.124769
494    1.137235
495    1.114687
496    1.140045
497    1.122311
498         NaN
499    1.135382
Name: total_family_income, Length: 500, dtype: float64

# Question 4

In [17]:
census[census['sex'] == 'Male'] [["sex", "total_family_income"]]

      sex  total_family_income
0    Male              14550.0
2    Male                  0.0
4    Male              48000.0
13   Male             113000.0
14   Male              76900.0
17   Male              48000.0
18   Male              57200.0
20   Male              49000.0
22   Male              50090.0
23   Male              64800.0
24   Male              90000.0
25   Male              38320.0
27   Male                  0.0
30   Male              60000.0
34   Male              17300.0
35   Male              61300.0
36   Male                  0.0
37   Male               6000.0
38   Male              30270.0
41   Male             165000.0
42   Male              15570.0
44   Male              13000.0
47   Male                  0.0
48   Male                  NaN
49   Male              12400.0
53   Male              31200.0
54   Male              81710.0
55   Male              37100.0
56   Male               9500.0
58   Male             168200.0
..    ...                  ...
450  Male                  0.0
455  Male               3300.0
456  Male                  NaN
457  Male              16300.0
459  Male              36400.0
462  Male              74000.0
463  Male              25280.0
465  Male              22200.0
466  Male              79100.0
468  Male              74490.0
469  Male              20000.0
470  Male              27150.0
473  Male                  NaN
475  Male              24000.0
478  Male              32350.0
479  Male              42300.0
480  Male              17800.0
482  Male                  NaN
485  Male                  0.0
486  Male              69000.0
489  Male             171000.0
490  Male             103000.0
491  Male              51700.0
492  Male             119800.0
493  Male              18000.0
494  Male              45100.0
496  Male              55400.0
497  Male              15000.0
498  Male                  NaN
499  Male              39370.0

[268 rows x 2 columns]

In [16]:
census[census['sex'] == 'Female'] [["sex", "total_family_income"]]

        sex  total_family_income
1    Female              22800.0
3    Female              23000.0
5    Female              74000.0
6    Female              23000.0
7    Female              74000.0
8    Female              60000.0
9    Female              14600.0
10   Female                  0.0
11   Female              37000.0
12   Female              32000.0
15   Female             100100.0
16   Female              48000.0
19   Female              43950.0
21   Female              31600.0
26   Female             103700.0
28   Female              70700.0
29   Female              64800.0
31   Female             118100.0
32   Female              21000.0
33   Female              40000.0
39   Female               8800.0
40   Female                  0.0
43   Female              48630.0
45   Female              68020.0
46   Female             130000.0
50   Female              50400.0
51   Female              65000.0
52   Female              62900.0
57   Female              25000.0
59   Female             168200.0
..      ...                  ...
423  Female              42000.0
428  Female              42900.0
429  Female               5000.0
430  Female              11580.0
432  Female              29340.0
433  Female              77500.0
434  Female              36000.0
436  Female              64500.0
439  Female              25000.0
440  Female              43000.0
451  Female               8100.0
452  Female               1400.0
453  Female              39900.0
454  Female              57700.0
458  Female              54000.0
460  Female              15600.0
461  Female               9400.0
464  Female              55500.0
467  Female              75050.0
471  Female              40300.0
472  Female              18600.0
474  Female                  0.0
476  Female              24000.0
477  Female              17900.0
481  Female              33000.0
483  Female              44000.0
484  Female              24700.0
487  Female              60300.0
488  Female             150000.0
495  Female               8500.0

[232 rows x 2 columns]

# Question 5