In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Queston 3:
'edu',  plays the same part that football did in the football dataframe example. It defines the dataframe as 'edu', and all that consists in the file attached. 'edu' is then asked to be printed and the file is printed into rows and columns. 'read_csv' is telling the program to read the attached file. It reads in values where the delimiter is a comma character. 'usecols' assigns 'TIME', 'GEO', 'Value' as columns to the dataframe. The equal sign assigns them to the columns.

Question 4:
'edu.head()' function retrives the first 'n' rows of the dataframe. For example, if you assisgn n = 5, then it would output the first 5 rows of the dataframe. 'edu.tail()' function retrives the last 'n' rows of the dataframe. 'edu.describe()' function can be used for calulating statisitcial data such as percentiles and means.

In [10]:
edu = pd.read_csv('educ_figdp_1_Data.csv',
                  na_values = ':',
                  usecols = [ 'TIME', 'GEO', 'Value' ])
edu

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
2    2002  European Union (28 countries)   5.00
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
5    2005  European Union (28 countries)   4.92
6    2006  European Union (28 countries)   4.91
7    2007  European Union (28 countries)   4.92
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
12   2000  European Union (27 countries)   4.91
13   2001  European Union (27 countries)   4.99
14   2002  European Union (27 countries)   5.00
15   2003  European Union (27 countries)   5.04
16   2004  European Union (27 countries)   4.95
17   2005  European Union (27 countries)   4.92
18   2006  European Union (27 countries)   4.91
19   2007  European Union (27 countries)   4.93
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
24   2000  European Union (25 countries)   4.94
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
28   2004  European Union (25 countries)   4.98
29   2005  European Union (25 countries)   4.95
..    ...                            ...    ...
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
360  2000                       Slovakia   3.92
361  2001                       Slovakia   3.99
362  2002                       Slovakia   4.31
363  2003                       Slovakia   4.30
364  2004                       Slovakia   4.19
365  2005                       Slovakia   3.85
366  2006                       Slovakia   3.80
367  2007                       Slovakia   3.62
368  2008                       Slovakia   3.61
369  2009                       Slovakia   4.09
370  2010                       Slovakia   4.22
371  2011                       Slovakia   4.06
372  2000                        Finland   5.89
373  2001                        Finland   6.06
374  2002                        Finland   6.22
375  2003                        Finland   6.43
376  2004                        Finland   6.42
377  2005                        Finland   6.30
378  2006                        Finland   6.18
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[384 rows x 3 columns]

In [11]:
edu[4:15]['Value']

4     4.95
5     4.92
6     4.91
7     4.92
8     5.04
9     5.38
10    5.41
11    5.25
12    4.91
13    4.99
14    5.00
Name: Value, dtype: float64

In [12]:
edu[4:15][['Value', 'TIME', 'Value']]

    Value  TIME  Value
4    4.95  2004   4.95
5    4.92  2005   4.92
6    4.91  2006   4.91
7    4.92  2007   4.92
8    5.04  2008   5.04
9    5.38  2009   5.38
10   5.41  2010   5.41
11   5.25  2011   5.25
12   4.91  2000   4.91
13   4.99  2001   4.99
14   5.00  2002   5.00

In [13]:
edu.drop(2)

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
5    2005  European Union (28 countries)   4.92
6    2006  European Union (28 countries)   4.91
7    2007  European Union (28 countries)   4.92
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
12   2000  European Union (27 countries)   4.91
13   2001  European Union (27 countries)   4.99
14   2002  European Union (27 countries)   5.00
15   2003  European Union (27 countries)   5.04
16   2004  European Union (27 countries)   4.95
17   2005  European Union (27 countries)   4.92
18   2006  European Union (27 countries)   4.91
19   2007  European Union (27 countries)   4.93
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
24   2000  European Union (25 countries)   4.94
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
28   2004  European Union (25 countries)   4.98
29   2005  European Union (25 countries)   4.95
30   2006  European Union (25 countries)   4.93
..    ...                            ...    ...
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
360  2000                       Slovakia   3.92
361  2001                       Slovakia   3.99
362  2002                       Slovakia   4.31
363  2003                       Slovakia   4.30
364  2004                       Slovakia   4.19
365  2005                       Slovakia   3.85
366  2006                       Slovakia   3.80
367  2007                       Slovakia   3.62
368  2008                       Slovakia   3.61
369  2009                       Slovakia   4.09
370  2010                       Slovakia   4.22
371  2011                       Slovakia   4.06
372  2000                        Finland   5.89
373  2001                        Finland   6.06
374  2002                        Finland   6.22
375  2003                        Finland   6.43
376  2004                        Finland   6.42
377  2005                        Finland   6.30
378  2006                        Finland   6.18
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[383 rows x 3 columns]

In [14]:
edu2 = edu
edu2.drop(2,inplace = True )
edu2

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
5    2005  European Union (28 countries)   4.92
6    2006  European Union (28 countries)   4.91
7    2007  European Union (28 countries)   4.92
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
12   2000  European Union (27 countries)   4.91
13   2001  European Union (27 countries)   4.99
14   2002  European Union (27 countries)   5.00
15   2003  European Union (27 countries)   5.04
16   2004  European Union (27 countries)   4.95
17   2005  European Union (27 countries)   4.92
18   2006  European Union (27 countries)   4.91
19   2007  European Union (27 countries)   4.93
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
24   2000  European Union (25 countries)   4.94
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
28   2004  European Union (25 countries)   4.98
29   2005  European Union (25 countries)   4.95
30   2006  European Union (25 countries)   4.93
..    ...                            ...    ...
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
360  2000                       Slovakia   3.92
361  2001                       Slovakia   3.99
362  2002                       Slovakia   4.31
363  2003                       Slovakia   4.30
364  2004                       Slovakia   4.19
365  2005                       Slovakia   3.85
366  2006                       Slovakia   3.80
367  2007                       Slovakia   3.62
368  2008                       Slovakia   3.61
369  2009                       Slovakia   4.09
370  2010                       Slovakia   4.22
371  2011                       Slovakia   4.06
372  2000                        Finland   5.89
373  2001                        Finland   6.06
374  2002                        Finland   6.22
375  2003                        Finland   6.43
376  2004                        Finland   6.42
377  2005                        Finland   6.30
378  2006                        Finland   6.18
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[383 rows x 3 columns]

In [15]:
# define a new column made by squaring the Value column
edu_vsq['ValueSquared'] = edu_vsq['Value']**2
edu_vsq[['ValueSquared', 'Value']]
edu_vsq.head()

NameError: name 'edu_vsq' is not defined

In [16]:
# Adding ROWS to a Dataframe
# Idea is to make the collection of new rows into a new dataframe. Then "glue" the new dataframe onto the end of new 
# to create a new dataframe, start with a dictionary 
new_rows_dict = {
    'TIME' : [2000, 2000, 2000],
    'GEO' : ['USA', 'Canada', 'Uganda'],
    'Value' : [5, 4.18, 5.5] 
}
new_rows_df = pd.DataFrame(new_rows_dict)

new_rows_df

      GEO  TIME  Value
0     USA  2000   5.00
1  Canada  2000   4.18
2  Uganda  2000   5.50

In [17]:
#Append the new_rows_df to the end of edu
edu_new_rows = edu.append(new_rows_df, ignore_index= True, sort= False)
edu_new_rows

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
2    2003  European Union (28 countries)   5.03
3    2004  European Union (28 countries)   4.95
4    2005  European Union (28 countries)   4.92
5    2006  European Union (28 countries)   4.91
6    2007  European Union (28 countries)   4.92
7    2008  European Union (28 countries)   5.04
8    2009  European Union (28 countries)   5.38
9    2010  European Union (28 countries)   5.41
10   2011  European Union (28 countries)   5.25
11   2000  European Union (27 countries)   4.91
12   2001  European Union (27 countries)   4.99
13   2002  European Union (27 countries)   5.00
14   2003  European Union (27 countries)   5.04
15   2004  European Union (27 countries)   4.95
16   2005  European Union (27 countries)   4.92
17   2006  European Union (27 countries)   4.91
18   2007  European Union (27 countries)   4.93
19   2008  European Union (27 countries)   5.04
20   2009  European Union (27 countries)   5.38
21   2010  European Union (27 countries)   5.41
22   2011  European Union (27 countries)   5.25
23   2000  European Union (25 countries)   4.94
24   2001  European Union (25 countries)   5.02
25   2002  European Union (25 countries)   5.03
26   2003  European Union (25 countries)   5.06
27   2004  European Union (25 countries)   4.98
28   2005  European Union (25 countries)   4.95
29   2006  European Union (25 countries)   4.93
..    ...                            ...    ...
356  2009                       Slovenia   5.69
357  2010                       Slovenia   5.68
358  2011                       Slovenia   5.68
359  2000                       Slovakia   3.92
360  2001                       Slovakia   3.99
361  2002                       Slovakia   4.31
362  2003                       Slovakia   4.30
363  2004                       Slovakia   4.19
364  2005                       Slovakia   3.85
365  2006                       Slovakia   3.80
366  2007                       Slovakia   3.62
367  2008                       Slovakia   3.61
368  2009                       Slovakia   4.09
369  2010                       Slovakia   4.22
370  2011                       Slovakia   4.06
371  2000                        Finland   5.89
372  2001                        Finland   6.06
373  2002                        Finland   6.22
374  2003                        Finland   6.43
375  2004                        Finland   6.42
376  2005                        Finland   6.30
377  2006                        Finland   6.18
378  2007                        Finland   5.90
379  2008                        Finland   6.10
380  2009                        Finland   6.81
381  2010                        Finland   6.85
382  2011                        Finland   6.76
383  2000                            USA   5.00
384  2000                         Canada   4.18
385  2000                         Uganda   5.50

[386 rows x 3 columns]

In [19]:
#Worksheet q4
# Setup a dictionary of rows you want added 
ws4_dict = {
    'TIME' : [1502],
    'GEO' : ['Country X'],
    'Value' : [56]
}

# Turn that into a dataframe 
ws4_df = pd.DataFrame(ws4_dict)