In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Queston 3:
'edu',  plays the same part that football did in the football dataframe example. It defines the dataframe as 'edu', and all that consists in the file attached. 'edu' is then asked to be printed and the file is printed into rows and columns. 'read_csv' is telling the program to read the attached file. It reads in values where the delimiter is a comma character. 'usecols' assigns 'TIME', 'GEO', 'Value' as columns to the dataframe. The equal sign assigns them to the columns.

Question 4:
'edu.head()' function retrives the first 'n' rows of the dataframe. For example, if you assisgn n = 5, then it would output the first 5 rows of the dataframe. 'edu.tail()' function retrives the last 'n' rows of the dataframe. 'edu.describe()' function can be used for calulating statisitcial data such as percentiles and means.

In [13]:
edu = pd.read_csv('educ_figdp_1_Data.csv',
                  na_values = ':',
                  usecols = [ 'TIME', 'GEO', 'Value' ])
edu

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
2    2002  European Union (28 countries)   5.00
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
5    2005  European Union (28 countries)   4.92
6    2006  European Union (28 countries)   4.91
7    2007  European Union (28 countries)   4.92
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
12   2000  European Union (27 countries)   4.91
13   2001  European Union (27 countries)   4.99
14   2002  European Union (27 countries)   5.00
15   2003  European Union (27 countries)   5.04
16   2004  European Union (27 countries)   4.95
17   2005  European Union (27 countries)   4.92
18   2006  European Union (27 countries)   4.91
19   2007  European Union (27 countries)   4.93
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
24   2000  European Union (25 countries)   4.94
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
28   2004  European Union (25 countries)   4.98
29   2005  European Union (25 countries)   4.95
..    ...                            ...    ...
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
360  2000                       Slovakia   3.92
361  2001                       Slovakia   3.99
362  2002                       Slovakia   4.31
363  2003                       Slovakia   4.30
364  2004                       Slovakia   4.19
365  2005                       Slovakia   3.85
366  2006                       Slovakia   3.80
367  2007                       Slovakia   3.62
368  2008                       Slovakia   3.61
369  2009                       Slovakia   4.09
370  2010                       Slovakia   4.22
371  2011                       Slovakia   4.06
372  2000                        Finland   5.89
373  2001                        Finland   6.06
374  2002                        Finland   6.22
375  2003                        Finland   6.43
376  2004                        Finland   6.42
377  2005                        Finland   6.30
378  2006                        Finland   6.18
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[384 rows x 3 columns]

In [14]:
edu[4:15]['Value']

4     4.95
5     4.92
6     4.91
7     4.92
8     5.04
9     5.38
10    5.41
11    5.25
12    4.91
13    4.99
14    5.00
Name: Value, dtype: float64

In [15]:
edu[4:15][['Value', 'TIME', 'Value']]

    Value  TIME  Value
4    4.95  2004   4.95
5    4.92  2005   4.92
6    4.91  2006   4.91
7    4.92  2007   4.92
8    5.04  2008   5.04
9    5.38  2009   5.38
10   5.41  2010   5.41
11   5.25  2011   5.25
12   4.91  2000   4.91
13   4.99  2001   4.99
14   5.00  2002   5.00

In [16]:
edu.drop(2)

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
5    2005  European Union (28 countries)   4.92
6    2006  European Union (28 countries)   4.91
7    2007  European Union (28 countries)   4.92
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
12   2000  European Union (27 countries)   4.91
13   2001  European Union (27 countries)   4.99
14   2002  European Union (27 countries)   5.00
15   2003  European Union (27 countries)   5.04
16   2004  European Union (27 countries)   4.95
17   2005  European Union (27 countries)   4.92
18   2006  European Union (27 countries)   4.91
19   2007  European Union (27 countries)   4.93
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
24   2000  European Union (25 countries)   4.94
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
28   2004  European Union (25 countries)   4.98
29   2005  European Union (25 countries)   4.95
30   2006  European Union (25 countries)   4.93
..    ...                            ...    ...
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
360  2000                       Slovakia   3.92
361  2001                       Slovakia   3.99
362  2002                       Slovakia   4.31
363  2003                       Slovakia   4.30
364  2004                       Slovakia   4.19
365  2005                       Slovakia   3.85
366  2006                       Slovakia   3.80
367  2007                       Slovakia   3.62
368  2008                       Slovakia   3.61
369  2009                       Slovakia   4.09
370  2010                       Slovakia   4.22
371  2011                       Slovakia   4.06
372  2000                        Finland   5.89
373  2001                        Finland   6.06
374  2002                        Finland   6.22
375  2003                        Finland   6.43
376  2004                        Finland   6.42
377  2005                        Finland   6.30
378  2006                        Finland   6.18
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[383 rows x 3 columns]

In [17]:
edu2 = edu
edu2.drop(2,inplace = True )
edu2

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
5    2005  European Union (28 countries)   4.92
6    2006  European Union (28 countries)   4.91
7    2007  European Union (28 countries)   4.92
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
12   2000  European Union (27 countries)   4.91
13   2001  European Union (27 countries)   4.99
14   2002  European Union (27 countries)   5.00
15   2003  European Union (27 countries)   5.04
16   2004  European Union (27 countries)   4.95
17   2005  European Union (27 countries)   4.92
18   2006  European Union (27 countries)   4.91
19   2007  European Union (27 countries)   4.93
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
24   2000  European Union (25 countries)   4.94
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
28   2004  European Union (25 countries)   4.98
29   2005  European Union (25 countries)   4.95
30   2006  European Union (25 countries)   4.93
..    ...                            ...    ...
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
360  2000                       Slovakia   3.92
361  2001                       Slovakia   3.99
362  2002                       Slovakia   4.31
363  2003                       Slovakia   4.30
364  2004                       Slovakia   4.19
365  2005                       Slovakia   3.85
366  2006                       Slovakia   3.80
367  2007                       Slovakia   3.62
368  2008                       Slovakia   3.61
369  2009                       Slovakia   4.09
370  2010                       Slovakia   4.22
371  2011                       Slovakia   4.06
372  2000                        Finland   5.89
373  2001                        Finland   6.06
374  2002                        Finland   6.22
375  2003                        Finland   6.43
376  2004                        Finland   6.42
377  2005                        Finland   6.30
378  2006                        Finland   6.18
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[383 rows x 3 columns]

In [19]:
# define a new column made by squaring the Value column
edu_vsq['ValueSquared'] = edu_vsq['Value']**2
edu_vsq[['ValueSquared', 'Value']]
edu_vsq.head()

NameError: name 'edu_vsq' is not defined

In [20]:
# Adding ROWS to a Dataframe
# Idea is to make the collection of new rows into a new dataframe. Then "glue" the new dataframe onto the end of new 
# to create a new dataframe, start with a dictionary 
new_rows_dict = {
    'TIME' : [2000, 2000, 2000],
    'GEO' : ['USA', 'Canada', 'Uganda'],
    'Value' : [5, 4.18, 5.5] 
}
new_rows_df = pd.DataFrame(new_rows_dict)

new_rows_df

      GEO  TIME  Value
0     USA  2000   5.00
1  Canada  2000   4.18
2  Uganda  2000   5.50

In [21]:
#Append the new_rows_df to the end of edu
edu_new_rows = edu.append(new_rows_df, ignore_index= True, sort= False)
edu_new_rows

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
2    2003  European Union (28 countries)   5.03
3    2004  European Union (28 countries)   4.95
4    2005  European Union (28 countries)   4.92
5    2006  European Union (28 countries)   4.91
6    2007  European Union (28 countries)   4.92
7    2008  European Union (28 countries)   5.04
8    2009  European Union (28 countries)   5.38
9    2010  European Union (28 countries)   5.41
10   2011  European Union (28 countries)   5.25
11   2000  European Union (27 countries)   4.91
12   2001  European Union (27 countries)   4.99
13   2002  European Union (27 countries)   5.00
14   2003  European Union (27 countries)   5.04
15   2004  European Union (27 countries)   4.95
16   2005  European Union (27 countries)   4.92
17   2006  European Union (27 countries)   4.91
18   2007  European Union (27 countries)   4.93
19   2008  European Union (27 countries)   5.04
20   2009  European Union (27 countries)   5.38
21   2010  European Union (27 countries)   5.41
22   2011  European Union (27 countries)   5.25
23   2000  European Union (25 countries)   4.94
24   2001  European Union (25 countries)   5.02
25   2002  European Union (25 countries)   5.03
26   2003  European Union (25 countries)   5.06
27   2004  European Union (25 countries)   4.98
28   2005  European Union (25 countries)   4.95
29   2006  European Union (25 countries)   4.93
..    ...                            ...    ...
356  2009                       Slovenia   5.69
357  2010                       Slovenia   5.68
358  2011                       Slovenia   5.68
359  2000                       Slovakia   3.92
360  2001                       Slovakia   3.99
361  2002                       Slovakia   4.31
362  2003                       Slovakia   4.30
363  2004                       Slovakia   4.19
364  2005                       Slovakia   3.85
365  2006                       Slovakia   3.80
366  2007                       Slovakia   3.62
367  2008                       Slovakia   3.61
368  2009                       Slovakia   4.09
369  2010                       Slovakia   4.22
370  2011                       Slovakia   4.06
371  2000                        Finland   5.89
372  2001                        Finland   6.06
373  2002                        Finland   6.22
374  2003                        Finland   6.43
375  2004                        Finland   6.42
376  2005                        Finland   6.30
377  2006                        Finland   6.18
378  2007                        Finland   5.90
379  2008                        Finland   6.10
380  2009                        Finland   6.81
381  2010                        Finland   6.85
382  2011                        Finland   6.76
383  2000                            USA   5.00
384  2000                         Canada   4.18
385  2000                         Uganda   5.50

[386 rows x 3 columns]

In [22]:
#Worksheet q4
# Setup a dictionary of rows you want added 
ws4_dict = {
    'TIME' : [1502],
    'GEO' : ['Country X'],
    'Value' : [56]
}

# Turn that into a dataframe 
ws4_df = pd.DataFrame(ws4_dict)

# Filtering Dataframes
Boolean filtering

In [23]:
# Return the rows with value bigger than 4
edu[ (edu['Value'] > 4) & (edu['Value'] < 6) ]

     TIME                            GEO  Value
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
5    2005  European Union (28 countries)   4.92
6    2006  European Union (28 countries)   4.91
7    2007  European Union (28 countries)   4.92
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
12   2000  European Union (27 countries)   4.91
13   2001  European Union (27 countries)   4.99
14   2002  European Union (27 countries)   5.00
15   2003  European Union (27 countries)   5.04
16   2004  European Union (27 countries)   4.95
17   2005  European Union (27 countries)   4.92
18   2006  European Union (27 countries)   4.91
19   2007  European Union (27 countries)   4.93
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
24   2000  European Union (25 countries)   4.94
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
28   2004  European Union (25 countries)   4.98
29   2005  European Union (25 countries)   4.95
30   2006  European Union (25 countries)   4.93
31   2007  European Union (25 countries)   4.95
32   2008  European Union (25 countries)   5.06
..    ...                            ...    ...
327  2003                       Portugal   5.38
328  2004                       Portugal   5.10
329  2005                       Portugal   5.21
330  2006                       Portugal   5.07
331  2007                       Portugal   5.10
332  2008                       Portugal   4.89
333  2009                       Portugal   5.79
334  2010                       Portugal   5.62
335  2011                       Portugal   5.27
343  2007                        Romania   4.25
345  2009                        Romania   4.24
349  2001                       Slovenia   5.86
350  2002                       Slovenia   5.76
351  2003                       Slovenia   5.80
352  2004                       Slovenia   5.74
353  2005                       Slovenia   5.73
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
362  2002                       Slovakia   4.31
363  2003                       Slovakia   4.30
364  2004                       Slovakia   4.19
369  2009                       Slovakia   4.09
370  2010                       Slovakia   4.22
371  2011                       Slovakia   4.06
372  2000                        Finland   5.89
379  2007                        Finland   5.90

[275 rows x 3 columns]

In [24]:
# Return rows for years 2002 and 2003 only
edu[(edu['TIME' ] == 2002) | (edu['TIME'] == 2003)]

     TIME                                               GEO  Value
3    2003                     European Union (28 countries)   5.03
14   2002                     European Union (27 countries)   5.00
15   2003                     European Union (27 countries)   5.04
26   2002                     European Union (25 countries)   5.03
27   2003                     European Union (25 countries)   5.06
38   2002                          Euro area (18 countries)   4.87
39   2003                          Euro area (18 countries)   4.89
50   2002                          Euro area (17 countries)   4.86
51   2003                          Euro area (17 countries)   4.89
62   2002                          Euro area (15 countries)   5.01
63   2003                          Euro area (15 countries)   5.04
74   2002                          Euro area (13 countries)   5.00
75   2003                          Euro area (13 countries)   5.04
86   2002                                           Belgium   6.09
87   2003                                           Belgium   6.02
98   2002                                          Bulgaria   3.94
99   2003                                          Bulgaria   4.09
110  2002                                    Czech Republic   4.15
111  2003                                    Czech Republic   4.32
122  2002                                           Denmark   8.44
123  2003                                           Denmark   8.33
134  2002  Germany (until 1990 former territory of the FRG)   4.72
135  2003  Germany (until 1990 former territory of the FRG)   4.74
146  2002                                           Estonia   5.47
147  2003                                           Estonia   5.29
158  2002                                           Ireland   4.27
159  2003                                           Ireland   4.35
170  2002                                            Greece   3.57
171  2003                                            Greece   3.56
182  2002                                             Spain   4.25
..    ...                                               ...    ...
206  2002                                             Italy   4.60
207  2003                                             Italy   4.72
218  2002                                            Cyprus   6.60
219  2003                                            Cyprus   7.37
230  2002                                            Latvia   6.60
231  2003                                            Latvia   5.58
242  2002                                         Lithuania   5.81
243  2003                                         Lithuania   5.14
254  2002                                        Luxembourg   3.79
255  2003                                        Luxembourg   3.77
266  2002                                           Hungary   5.39
267  2003                                           Hungary   5.91
278  2002                                             Malta   4.22
279  2003                                             Malta   4.48
290  2002                                       Netherlands   5.22
291  2003                                       Netherlands   5.47
302  2002                                           Austria   5.68
303  2003                                           Austria   5.53
314  2002                                            Poland   5.41
315  2003                                            Poland   5.35
326  2002                                          Portugal   5.33
327  2003                                          Portugal   5.38
338  2002                                           Romania   3.51
339  2003                                           Romania   3.45
350  2002                                          Slovenia   5.76
351  2003                                          Slovenia   5.80
362  2002                                          Slovakia   4.31
363  2003                                          Slovakia   4.30
374  2002                                           Finland   6.22
375  2003                                           Finland   6.43

[63 rows x 3 columns]

In [25]:
# filter some of the columns
edu[ edu['TIME'] == 2002] [["TIME", "GEO"]]

     TIME                                               GEO
14   2002                     European Union (27 countries)
26   2002                     European Union (25 countries)
38   2002                          Euro area (18 countries)
50   2002                          Euro area (17 countries)
62   2002                          Euro area (15 countries)
74   2002                          Euro area (13 countries)
86   2002                                           Belgium
98   2002                                          Bulgaria
110  2002                                    Czech Republic
122  2002                                           Denmark
134  2002  Germany (until 1990 former territory of the FRG)
146  2002                                           Estonia
158  2002                                           Ireland
170  2002                                            Greece
182  2002                                             Spain
194  2002                                            France
206  2002                                             Italy
218  2002                                            Cyprus
230  2002                                            Latvia
242  2002                                         Lithuania
254  2002                                        Luxembourg
266  2002                                           Hungary
278  2002                                             Malta
290  2002                                       Netherlands
302  2002                                           Austria
314  2002                                            Poland
326  2002                                          Portugal
338  2002                                           Romania
350  2002                                          Slovenia
362  2002                                          Slovakia
374  2002                                           Finland

In [26]:
edu[(edu['Value'] >= 5) & (edu['Value'] <= 9)]

     TIME                            GEO  Value
3    2003  European Union (28 countries)   5.03
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
14   2002  European Union (27 countries)   5.00
15   2003  European Union (27 countries)   5.04
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
32   2008  European Union (25 countries)   5.06
33   2009  European Union (25 countries)   5.41
34   2010  European Union (25 countries)   5.46
35   2011  European Union (25 countries)   5.31
45   2009       Euro area (18 countries)   5.31
46   2010       Euro area (18 countries)   5.28
47   2011       Euro area (18 countries)   5.15
57   2009       Euro area (17 countries)   5.31
58   2010       Euro area (17 countries)   5.28
59   2011       Euro area (17 countries)   5.15
62   2002       Euro area (15 countries)   5.01
63   2003       Euro area (15 countries)   5.04
69   2009       Euro area (15 countries)   5.32
70   2010       Euro area (15 countries)   5.29
71   2011       Euro area (15 countries)   5.16
74   2002       Euro area (13 countries)   5.00
..    ...                            ...    ...
328  2004                       Portugal   5.10
329  2005                       Portugal   5.21
330  2006                       Portugal   5.07
331  2007                       Portugal   5.10
333  2009                       Portugal   5.79
334  2010                       Portugal   5.62
335  2011                       Portugal   5.27
349  2001                       Slovenia   5.86
350  2002                       Slovenia   5.76
351  2003                       Slovenia   5.80
352  2004                       Slovenia   5.74
353  2005                       Slovenia   5.73
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
372  2000                        Finland   5.89
373  2001                        Finland   6.06
374  2002                        Finland   6.22
375  2003                        Finland   6.43
376  2004                        Finland   6.42
377  2005                        Finland   6.30
378  2006                        Finland   6.18
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[196 rows x 3 columns]

In [27]:
# return on the rows with missing value data
# .isnull is for empty data, no data present
edu[ edu['Value'].isnull() ]

     TIME                            GEO  Value
0    2000  European Union (28 countries)    NaN
1    2001  European Union (28 countries)    NaN
36   2000       Euro area (18 countries)    NaN
37   2001       Euro area (18 countries)    NaN
48   2000       Euro area (17 countries)    NaN
49   2001       Euro area (17 countries)    NaN
60   2000       Euro area (15 countries)    NaN
72   2000       Euro area (13 countries)    NaN
84   2000                        Belgium    NaN
174  2006                         Greece    NaN
175  2007                         Greece    NaN
176  2008                         Greece    NaN
177  2009                         Greece    NaN
178  2010                         Greece    NaN
179  2011                         Greece    NaN
252  2000                     Luxembourg    NaN
260  2008                     Luxembourg    NaN
261  2009                     Luxembourg    NaN
262  2010                     Luxembourg    NaN
263  2011                     Luxembourg    NaN
342  2006                        Romania    NaN
344  2008                        Romania    NaN
348  2000                       Slovenia    NaN

In [28]:
# return the rows with no missing data
edu[edu['Value'].notnull()]

     TIME                            GEO  Value
3    2003  European Union (28 countries)   5.03
4    2004  European Union (28 countries)   4.95
5    2005  European Union (28 countries)   4.92
6    2006  European Union (28 countries)   4.91
7    2007  European Union (28 countries)   4.92
8    2008  European Union (28 countries)   5.04
9    2009  European Union (28 countries)   5.38
10   2010  European Union (28 countries)   5.41
11   2011  European Union (28 countries)   5.25
12   2000  European Union (27 countries)   4.91
13   2001  European Union (27 countries)   4.99
14   2002  European Union (27 countries)   5.00
15   2003  European Union (27 countries)   5.04
16   2004  European Union (27 countries)   4.95
17   2005  European Union (27 countries)   4.92
18   2006  European Union (27 countries)   4.91
19   2007  European Union (27 countries)   4.93
20   2008  European Union (27 countries)   5.04
21   2009  European Union (27 countries)   5.38
22   2010  European Union (27 countries)   5.41
23   2011  European Union (27 countries)   5.25
24   2000  European Union (25 countries)   4.94
25   2001  European Union (25 countries)   5.02
26   2002  European Union (25 countries)   5.03
27   2003  European Union (25 countries)   5.06
28   2004  European Union (25 countries)   4.98
29   2005  European Union (25 countries)   4.95
30   2006  European Union (25 countries)   4.93
31   2007  European Union (25 countries)   4.95
32   2008  European Union (25 countries)   5.06
..    ...                            ...    ...
354  2006                       Slovenia   5.72
355  2007                       Slovenia   5.15
356  2008                       Slovenia   5.20
357  2009                       Slovenia   5.69
358  2010                       Slovenia   5.68
359  2011                       Slovenia   5.68
360  2000                       Slovakia   3.92
361  2001                       Slovakia   3.99
362  2002                       Slovakia   4.31
363  2003                       Slovakia   4.30
364  2004                       Slovakia   4.19
365  2005                       Slovakia   3.85
366  2006                       Slovakia   3.80
367  2007                       Slovakia   3.62
368  2008                       Slovakia   3.61
369  2009                       Slovakia   4.09
370  2010                       Slovakia   4.22
371  2011                       Slovakia   4.06
372  2000                        Finland   5.89
373  2001                        Finland   6.06
374  2002                        Finland   6.22
375  2003                        Finland   6.43
376  2004                        Finland   6.42
377  2005                        Finland   6.30
378  2006                        Finland   6.18
379  2007                        Finland   5.90
380  2008                        Finland   6.10
381  2009                        Finland   6.81
382  2010                        Finland   6.85
383  2011                        Finland   6.76

[360 rows x 3 columns]

# Module 1 Topic 4 -- Working with Data

In [29]:
# Python can be used as a calculator
print 3*2
print 5+10*18**2

6
3245

In [30]:
edu_value_by_100 = edu['Value']*100

In [31]:
(edu_value_by_100 + 4)

0        NaN
1        NaN
3      507.0
4      499.0
5      496.0
6      495.0
7      496.0
8      508.0
9      542.0
10     545.0
11     529.0
12     495.0
13     503.0
14     504.0
15     508.0
16     499.0
17     496.0
18     495.0
19     497.0
20     508.0
21     542.0
22     545.0
23     529.0
24     498.0
25     506.0
26     507.0
27     510.0
28     502.0
29     499.0
30     497.0
       ...
354    576.0
355    519.0
356    524.0
357    573.0
358    572.0
359    572.0
360    396.0
361    403.0
362    435.0
363    434.0
364    423.0
365    389.0
366    384.0
367    366.0
368    365.0
369    413.0
370    426.0
371    410.0
372    593.0
373    610.0
374    626.0
375    647.0
376    646.0
377    634.0
378    622.0
379    594.0
380    614.0
381    685.0
382    689.0
383    680.0
Name: Value, Length: 383, dtype: float64

# The Apply method
How to use .apply() on vectors

In [32]:
edu['Value'].apply(np.sqrt) #apply the sqrt function to each element in the value list

0           NaN
1           NaN
3      2.242766
4      2.224860
5      2.218107
6      2.215852
7      2.218107
8      2.244994
9      2.319483
10     2.325941
11     2.291288
12     2.215852
13     2.233831
14     2.236068
15     2.244994
16     2.224860
17     2.218107
18     2.215852
19     2.220360
20     2.244994
21     2.319483
22     2.325941
23     2.291288
24     2.222611
25     2.240536
26     2.242766
27     2.249444
28     2.231591
29     2.224860
30     2.220360
         ...
354    2.391652
355    2.269361
356    2.280351
357    2.385372
358    2.383275
359    2.383275
360    1.979899
361    1.997498
362    2.076054
363    2.073644
364    2.046949
365    1.962142
366    1.949359
367    1.902630
368    1.900000
369    2.022375
370    2.054264
371    2.014944
372    2.426932
373    2.461707
374    2.493993
375    2.535744
376    2.533772
377    2.509980
378    2.485961
379    2.428992
380    2.469818
381    2.609598
382    2.617250
383    2.600000
Name: Value, Length: 383, dtype: float64

In [33]:
print np.sqrt(2)
print np.sin(4)

1.4142135623730951
-0.7568024953079282

In [41]:
def add_five(hello):
    return hello+5
edu['Value'].apply(add_five).head()

0      NaN
1      NaN
3    10.03
4     9.95
5     9.92
Name: Value, dtype: float64

In [42]:
def f(x):
    return x+5
edu['Value'].apply(f).head()

0      NaN
1      NaN
3    10.03
4     9.95
5     9.92
Name: Value, dtype: float64

In [40]:
#you can stick individual numbers into f
print f(2)
print f(5)

7
10

In [43]:
def f(x):
    x1 = x**2
    x2 = np.sqrt(x1)
    return x2
edu['Value'].apply(f).head()

0     NaN
1     NaN
3    5.03
4    4.95
5    4.92
Name: Value, dtype: float64

In [53]:
# Worksheet question: define a function that takes an input and doubles it.
# Then outputs the negative of that. Then apply this function to the edu['Value'] column
def g(x):
    M = x*2
    return -abs(M)

edu['Value'].apply(g).head()

0      NaN
1      NaN
3   -10.06
4    -9.90
5    -9.84
Name: Value, dtype: float64

In [51]:
def g(x):
    return -abs(x)

edu['Value'].apply(g).head()

0     NaN
1     NaN
3   -5.03
4   -4.95
5   -4.92
Name: Value, dtype: float64

# Creating functions using lambda

In [56]:
lambda x: x+5 #takes an input and adds 5
    #input symbols can we anything w/o spaces
lambda u: u+5
lambda v: v+5
lambda abc: abc+5

In [58]:
edu['Value'].apply(lambda x: x**2).head()

0        NaN
1        NaN
3    25.3009
4    24.5025
5    24.2064
Name: Value, dtype: float64

In [59]:
add_two = lambda x: x+2
edu['Value'].apply(add_two).head()

0     NaN
1     NaN
3    7.03
4    6.95
5    6.92
Name: Value, dtype: float64

In [ ]:
#two ways to define a function

#def/return way:
def add_one[x]:
    return x+1


#lambda way 
add_six = lambda x: x+6